html,body{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    height: 40px;
    font-weight: bold;
    background-color: #73b387;
}


.table-responsive {
    position: relative;
    height: 30%;
    overflow: auto;
    }

.bar{
    width: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
    writing-mode: vertical-rl;
}